body {
    background-color: bisque;
}

h1 {
    color: brown;
 
    padding: 2rem;
    background-color: rgba(181, 100, 100, 0.659);
    border: brown;
}

ul {
    font-size: larger;
    font-weight: 800;
}